Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

feat(eslint-config-angular): support `eqeqeq`
  packages/eslint-config-angular/ts/base.js
Due: eslint

feat(eslint-config-angular): support `eqeqeq` (#199)
  packages/eslint-config-angular/ts/base.js
Due: eslint

chore(release): publish v1.35.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): decomposition angular complex configs to optional configs
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/imports/index.js
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/line-statements/index.js
  packages/eslint-config-angular/member-ordering/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/recommended/base-typescript.js
  packages/eslint-config-angular/recommended/base.js
  packages/eslint-config-angular/recommended/extraneous-class.js
  packages/eslint-config-angular/recommended/index.js
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config-angular/ts/index.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): decomposition angular complex configs to optional configs (#197)
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/imports/index.js
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/line-statements/index.js
  packages/eslint-config-angular/member-ordering/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/recommended/base-typescript.js
  packages/eslint-config-angular/recommended/base.js
  packages/eslint-config-angular/recommended/extraneous-class.js
  packages/eslint-config-angular/recommended/index.js
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config-angular/ts/index.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.36.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

ci: upgrade packages
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: upgrade packages (#200)
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.36.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: upgrade to npm 7
  .github/workflows/check.yml
  .github/workflows/release.yml
  .npmrc
  package-lock.json
  package.json
  packages/eslint-config-angular/test/member-ordering/__snapshots__/member-ordering-unhappy.test.js.snap
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add rule `import/no-cycle`
  packages/eslint-config-angular/imports/index.js
Due: eslint

docs(eslint-config): add nx usage-tips
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

docs(eslint-config): add nx usage-tips (#205)
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.36.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): allow break convention for quoted names
  packages/eslint-config/internal/typescript.js
Due: eslint

feat(eslint-config): allow break convention for quoted names (#207)
  packages/eslint-config/internal/typescript.js
Due: eslint

chore(release): publish v1.37.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): set import/no-cycle to error
  packages/eslint-config/internal/import.js
Due: eslint

test(eslint-config): add import-happy & import-unhappy tests
  packages/eslint-config/test/import/__fixtures__/dep-a.js
  packages/eslint-config/test/import/__fixtures__/dep-b.js
  packages/eslint-config/test/import/__fixtures__/import-happy.fixture.js
  packages/eslint-config/test/import/__fixtures__/import-unhappy.fixture.js
  packages/eslint-config/test/import/__snapshots__/import-happy.test.js.snap
  packages/eslint-config/test/import/__snapshots__/import-unhappy.test.js.snap
  packages/eslint-config/test/import/import-happy.test.js
  packages/eslint-config/test/import/import-unhappy.test.js
Due: eslint

feat(eslint-config): set import/no-cycle to error (#206)
  packages/eslint-config/internal/import.js
  packages/eslint-config/test/import/__fixtures__/dep-a.js
  packages/eslint-config/test/import/__fixtures__/dep-b.js
  packages/eslint-config/test/import/__fixtures__/import-happy.fixture.js
  packages/eslint-config/test/import/__fixtures__/import-unhappy.fixture.js
  packages/eslint-config/test/import/__snapshots__/import-happy.test.js.snap
  packages/eslint-config/test/import/__snapshots__/import-unhappy.test.js.snap
  packages/eslint-config/test/import/import-happy.test.js
  packages/eslint-config/test/import/import-unhappy.test.js
Due: eslint

chore(release): publish v1.38.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

docs(tinkoff-linters): add deprecation note
  packages/linters/README.md
Due: prettier --write --loglevel=warn

docs(tinkoff-linters): add deprecation note (#209)
  packages/linters/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.38.1
  CHANGELOG.md
  lerna.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: move airbnb errors rules to separate config
  packages/eslint-config/errors/index.js
  packages/eslint-config/internal/base.js
Due: eslint

feat(eslint-config): move airbnb errors rules to separate config (#211)
  packages/eslint-config/errors/index.js
  packages/eslint-config/internal/base.js
Due: eslint

feat: add file-progress plugin
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/file-progess/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

docs(eslint-config): README.md fix typo
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.39.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat: add file-progress plugin (#210)
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/file-progess/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

docs(eslint-config): README.md fix typo (#208)
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.40.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.40.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

docs(eslint-config): improve nx tips
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

docs(eslint-config): improve nx tips (#212)
  packages/eslint-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.41.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): fix dir typo
  packages/eslint-config-angular/file-progress/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

fix(eslint-config-angular): fix dir typo (#214)
  packages/eslint-config-angular/file-progress/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.41.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): disable prefer-destructuring for *.js and *.ts
  packages/eslint-config-angular/recommended/base-typescript.js
  packages/eslint-config-angular/recommended/base.js
Due: eslint
