Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

chore(all): update lerna
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.6 (#47)
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): update rules
  packages/eslint-config/internal/base.js
  packages/eslint-config/internal/import.js
  packages/eslint-config/internal/typescript.js
Due: eslint

v1.0.0-rc.7
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.7 (#52)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config, eslint-config-react): update rules
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/typescript.js
Due: eslint

add Tom910 and SuperOleg39 to CODEOWNERS
  .github/CODEOWNERS
Due: none

fix(eslint-config, eslint-config-react): update rules (#53)
  .github/CODEOWNERS
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/typescript.js
Due: eslint

v1.0.0-rc.8
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.8 (#54)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config, eslint-config-react): off class-methods-use-this and react/state-in-constructor rules
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/base.js
Due: eslint

fix(eslint-plugin): nested return statement
  packages/eslint-plugin/lib/require-return-type.js
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/eslint-plugin/tests/require-return-type.fixture.ts
Due: eslint

fix(eslint-config, eslint-config-react): off class-methods-use-this and react/state-in-constructor rules (#56)
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/base.js
Due: eslint

v1.0.0-rc.9
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.9 (#58)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix: update dependencies
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: update dependencies (#59)
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.10
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix(eslint-plugin): nested return statement (#57)
  packages/eslint-plugin/lib/require-return-type.js
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/eslint-plugin/tests/require-return-type.fixture.ts
Due: eslint

v1.0.0-rc.10 (#60)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.11
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.11 (#62)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix(eslint-plugin) replace interface-name-prefix
  packages/linters/eslint/common/typescript/conventions.js
Due: eslint

fix(eslint-plugin) fix lint errors
  packages/linters/eslint/common/typescript/conventions.js
Due: eslint

fix(eslint-plugin) replace interface-name-prefix
  packages/linters/eslint/common/conventions.js
  packages/linters/eslint/common/typescript/conventions.js
Due: eslint

Added compatibility with React 17
  packages/eslint-config-react/index.js
Due: eslint

Added compatibility with React 17 (#65)
  packages/eslint-config-react/index.js
Due: eslint

fix(eslint-plugin) replace interface-name-prefix (#63)
  packages/linters/eslint/common/conventions.js
  packages/linters/eslint/common/typescript/conventions.js
Due: eslint

v1.0.0-rc.12
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

v1.0.0-rc.12 (#66)
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

test: check @tinkoff/linters execution
  packages/linters/test/index.test.js
Due: eslint

feat(eslint-config): make rules less strict
  packages/eslint-config/internal/base.js
  packages/eslint-config/internal/promise.js
  packages/eslint-config/internal/typescript.js
  packages/eslint-config/lib.js
Due: eslint

test: check @tinkoff/linters execution (#67)
  packages/linters/test/index.test.js
Due: eslint

feat(eslint-config): make rules less strict (#71)
  packages/eslint-config/internal/base.js
  packages/eslint-config/internal/promise.js
  packages/eslint-config/internal/typescript.js
  packages/eslint-config/lib.js
Due: eslint

Path conditions:
  eslint: any of: packages/**/*.{ts,js}
  prettier --write --loglevel=warn: any of: **/*.{md,json,template.html}
