Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

ci: run lerna version with --conventional-graduate flag (#91)
  .github/workflows/release.yml
  packages/eslint-config/internal/base.js
Due: eslint

chore(release): publish v1.0.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: fix release action, remove --conventional-graduate flag
  .github/workflows/release.yml
Due: none

ci: fix release action, remove --conventional-graduate flag (#92)
  .github/workflows/release.yml
Due: none

fix: prettier version fixed to 2.2.1
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix: prettier version fixed to 2.2.1 (#100)
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.0.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(react): add eslint-plugin-react-perf
  .gitignore
  package-lock.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
Due: eslint, prettier --write --loglevel=warn

feat(react): add eslint-plugin-react-perf (#103)
  .gitignore
  package-lock.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.1.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

fix(react): off react-perf rules to test files
  packages/eslint-config-react/index.js
Due: eslint

fix(react): off react-perf rules to test files (#104)
  packages/eslint-config-react/index.js
Due: eslint

chore(release): publish v1.1.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

docs: update main README
  .gitignore
  README.md
  packages/linters/README.md
Due: prettier --write --loglevel=warn

docs: update main README (#107)
  .gitignore
  README.md
  packages/linters/README.md
Due: prettier --write --loglevel=warn

ci: remove README copy command
  package.json
Due: prettier --write --loglevel=warn

ci: remove README copy command (#108)
  package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.1.2
  CHANGELOG.md
  lerna.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): bump @typescript-eslint modules to ^4.28.2
  package-lock.json
  packages/eslint-config/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
Due: prettier --write --loglevel=warn

feat(eslint-config): replace consistent-type-imports rule level to warn
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config/internal/typescript.js
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/package-lock.json
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config): move @tinkoff/linters typescript rules to overrides section
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/index.test.js
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-react/test/index.test.js
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/test/index.test.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/linters/CHANGELOG.md
  packages/linters/eslint/angular/conventions.js
  packages/linters/eslint/common/conventions.js
  packages/linters/eslint/common/formatting.js
  packages/linters/package-lock.json
  packages/linters/package.json
  packages/linters/test/index.test.js
  tools/actions/get-unified-version/package.json
Due: eslint, prettier --write --loglevel=warn

chore: bump typescript version
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): bump @typescript-eslint modules to ^4.28.2 (#109)
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/index.test.js
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-react/test/index.test.js
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/internal/typescript.js
  packages/eslint-config/package.json
  packages/eslint-config/test/index.test.js
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/eslint/angular/conventions.js
  packages/linters/eslint/common/conventions.js
  packages/linters/eslint/common/formatting.js
  packages/linters/package-lock.json
  packages/linters/package.json
  packages/linters/test/index.test.js
  tools/actions/get-unified-version/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.2.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

docs: update CONTRIBUTING
  CONTRIBUTING.md
Due: prettier --write --loglevel=warn

docs: update CONTRIBUTING (#110)
  CONTRIBUTING.md
Due: prettier --write --loglevel=warn

fix: migrate from babel-eslint
  package-lock.json
  packages/eslint-config/internal/base.js
  packages/eslint-config/package.json
Due: eslint, prettier --write --loglevel=warn

fix: migrate from babel-eslint (#111)
  package-lock.json
  packages/eslint-config/internal/base.js
  packages/eslint-config/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.2.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

enable rule @typescript-eslint/no-unused-vars
  packages/eslint-config/internal/typescript.js
Due: eslint

chore(release): publish v1.2.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config): support superagent library in jest/expect-expect rule
  packages/eslint-config/jest.js
Due: eslint

chore(release): publish v1.2.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config): fix no-shadow rule and import type autofix conflict
  packages/eslint-config/internal/typescript.js
Due: eslint

chore(release): publish v1.2.4
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat(prettier): add prettier config
  README.md
  packages/prettier-config/README.md
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: eslint, prettier --write --loglevel=warn
