Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

ci: switch to github actions
  .github/workflows/check.yml
  .github/workflows/release.yml
  .travis.yml
  README.md
  lerna.json
  package-lock.json
  package.json
  tools/actions/get-unified-version/action.yml
  tools/actions/get-unified-version/getUnifiedVersion.js
  tools/actions/get-unified-version/index.js
  tools/actions/get-unified-version/package.json
Due: prettier --write --loglevel=warn

ci: switch to github actions
  .github/workflows/check.yml
  .github/workflows/release.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  lerna.json
  package-lock.json
  package.json
  tools/actions/get-unified-version/action.yml
  tools/actions/get-unified-version/getUnifiedVersion.js
  tools/actions/get-unified-version/index.js
  tools/actions/get-unified-version/package.json
Due: prettier --write --loglevel=warn

ci: switch to github actions
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  lerna.json
  package-lock.json
  package.json
  tools/actions/get-unified-version/action.yml
  tools/actions/get-unified-version/getUnifiedVersion.js
  tools/actions/get-unified-version/index.js
  tools/actions/get-unified-version/package.json
Due: prettier --write --loglevel=warn

ci: switch to github actions (#72)
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  lerna.json
  package-lock.json
  package.json
  tools/actions/get-unified-version/action.yml
  tools/actions/get-unified-version/getUnifiedVersion.js
  tools/actions/get-unified-version/index.js
  tools/actions/get-unified-version/package.json
Due: prettier --write --loglevel=warn

ci: add PAT and update release and ci workflows
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci: add PAT and update release and ci workflows (#77)
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci: change git identity for push to master
  .github/workflows/release.yml
Due: none

ci: change git identity for push to master (#78)
  .github/workflows/release.yml
Due: none

chore(release): publish v1.0.0-rc.13
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package-lock.json
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: add npm auth token
  .github/workflows/publish.yml
Due: none

ci: add npm auth token (#79)
  .github/workflows/publish.yml
Due: none

fix: change for publish testing
  .github/workflows/publish.yml
  packages/eslint-config/app.js
Due: eslint

fix: change for publish testing (#80)
  .github/workflows/publish.yml
  packages/eslint-config/app.js
Due: eslint

chore(release): publish v1.0.0-rc.14
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: revert testing changes, fix publish ci
  .github/workflows/publish.yml
  packages/eslint-config/app.js
Due: eslint

fix: revert testing changes, fix publish ci (#81)
  .github/workflows/publish.yml
  packages/eslint-config/app.js
Due: eslint

chore(release): publish v1.0.0-rc.15
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: test new npm token, change source code for debugging
  .github/workflows/publish.yml
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

fix: test new npm token, change source code for debugging (#82)
  .github/workflows/publish.yml
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

chore(release): publish v1.0.0-rc.16
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: new npm token, revert source test changes
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

fix: new npm token, revert source test changes (#83)
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

chore(release): publish v1.0.0-rc.17
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: add registry-url to setup-node action, change source code for testing
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

fix: add registry-url to setup-node action, change source code for testing (#84)
  .github/workflows/release.yml
  packages/eslint-config/app.js
Due: eslint

chore(release): publish v1.0.0-rc.18
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: use lerna publish from-package, revert testing source code changes
  CONTRIBUTING.md
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

fix: use lerna publish from-package, revert testing source code changes (#85)
  CONTRIBUTING.md
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.0.0-rc.19
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: revert from-package, add --no-verify-access, change source code for testing
  .github/workflows/release.yml
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

fix: revert from-package, add --no-verify-access, change source code for testing (#86)
  .github/workflows/release.yml
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.0.0-rc.20
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix: rename publish script, revert source code testing changes
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

fix: rename publish script, revert source code testing changes (#87)
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/eslint-config/app.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.0.0-rc.21
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

ci: publish stable version
  .github/workflows/release.yml
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/internal/base.js
Due: eslint, prettier --write --loglevel=warn

ci: publish stable version (#90)
  .github/workflows/release.yml
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/internal/base.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.0.0-rc.22
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

ci: run lerna version with --conventional-graduate flag
  .github/workflows/release.yml
  packages/eslint-config/internal/base.js
Due: eslint

Path conditions:
  eslint: any of: packages/**/*.{ts,js}
  prettier --write --loglevel=warn: any of: **/*.{md,json,template.html}
