Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

feat(eslint-plugin): deprecate current rules (#136)
  README.md
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/lib/deprecated/member-ordering.js
  packages/eslint-plugin/lib/deprecated/require-return-type.js
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/member-ordering.js
  packages/eslint-plugin/lib/require-return-type.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/linters/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.11.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): decompose to less, angular presets
  package-lock.json
  packages/stylelint-config/README.md
  packages/stylelint-config/angular.js
  packages/stylelint-config/less.js
  packages/stylelint-config/package.json
  packages/stylelint-config/taiga-ui.js
Due: eslint, prettier --write --loglevel=warn

feat(stylelint-config): decompose to less, angular presets (#138)
  package-lock.json
  packages/stylelint-config/README.md
  packages/stylelint-config/angular.js
  packages/stylelint-config/less.js
  packages/stylelint-config/package.json
  packages/stylelint-config/taiga-ui.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.12.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

fix(stylelint-config): ignore ng-deep
  packages/stylelint-config/angular.js
Due: eslint

fix(stylelint-config): ignore ng-deep (#140)
  packages/stylelint-config/angular.js
Due: eslint

chore(release): publish v1.12.1
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

ci: upgrade husky to v7
  .github/workflows/check.yml
  .gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

ci: upgrade husky to v7 (#141)
  .github/workflows/check.yml
  .gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-react): downgrade back to 6.4.1 for avoid broken eslint-plugin-jsx-a11y 6.5.0
  package-lock.json
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.12.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): expose configs for angular
  .prettierignore
  .prettierrc.js
  CODE_OF_CONDUCT.md
  ROADMAP.md
  package-lock.json
  package.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/README.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/linters/README.md
  packages/linters/eslint/common/best-practices.js
  packages/linters/eslint/common/formatting.js
  packages/linters/package.json
  packages/prettier-config/README.md
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
Due: eslint, prettier --write --loglevel=warn

feat(prettier-config): expose configs for angular (#139)
  .prettierignore
  .prettierrc.js
  CODE_OF_CONDUCT.md
  ROADMAP.md
  package-lock.json
  package.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/README.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/linters/README.md
  packages/linters/eslint/common/best-practices.js
  packages/linters/eslint/common/formatting.js
  packages/linters/package.json
  packages/prettier-config/README.md
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.13.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.13.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

ci: update tokens for publish workflow
  .github/workflows/release.yml
Due: none

chore: format by prettier
  .lintstagedrc.js
  .prettierignore
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore: format by prettier (#145)
  .lintstagedrc.js
  .prettierignore
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.13.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support member ordering
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/rules/eslint-plugin.js
  packages/eslint-config-angular/rules/import-plugin.js
  packages/eslint-config-angular/rules/sort-class-members-plugin.js
  packages/eslint-config-angular/rules/typescript-eslint-plugin.js
  packages/eslint-config-angular/test/fixtures/typescript-eslint/member-ordering.bad.ts
  packages/eslint-config-angular/test/index.test.js
Due: eslint

feat(eslint-config-angular): support member ordering
  package-lock.json
  package.json
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rules/base.js
  packages/eslint-config-angular/rules/eslint-plugin.js
  packages/eslint-config-angular/rules/import-plugin.js
  packages/eslint-config-angular/rules/import.js
  packages/eslint-config-angular/rules/member-ordering.js
  packages/eslint-config-angular/rules/sort-class-members-plugin.js
  packages/eslint-config-angular/rules/typescript-eslint-plugin.js
  packages/eslint-config-angular/test/fixtures/typescript-eslint/member-ordering.bad.ts
  packages/eslint-config-angular/test/index.test.js
  packages/eslint-config-angular/test/member-ordering/__fixtures__/member-ordering-happy.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__fixtures__/member-ordering-unhappy.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__fixtures__/shared-utils.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__snapshots__/member-ordering-happy.test.js.snap
  packages/eslint-config-angular/test/member-ordering/__snapshots__/member-ordering-unhappy.test.js.snap
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/eslint-plugin/tests/member-ordering.fixture.ts
  packages/eslint-plugin/tests/member-ordering.test.js
  packages/eslint-plugin/tests/require-return-type.fixture.ts
  packages/eslint-plugin/tests/require-return-type.test.js
  packages/linters/package.json
  packages/linters/test/index.test.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): support member ordering
  package-lock.json
  package.json
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rules/base.js
  packages/eslint-config-angular/rules/import.js
  packages/eslint-config-angular/rules/member-ordering.js
  packages/eslint-config-angular/test/index.test.js
  packages/eslint-config-angular/test/member-ordering/__fixtures__/member-ordering-happy.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__fixtures__/member-ordering-unhappy.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__fixtures__/shared-utils.fixture.ts
  packages/eslint-config-angular/test/member-ordering/__snapshots__/member-ordering-happy.test.js.snap
  packages/eslint-config-angular/test/member-ordering/__snapshots__/member-ordering-unhappy.test.js.snap
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/eslint-plugin/tests/member-ordering.fixture.ts
  packages/eslint-plugin/tests/member-ordering.test.js
  packages/eslint-plugin/tests/require-return-type.fixture.ts
  packages/eslint-plugin/tests/require-return-type.test.js
  packages/linters/package.json
  packages/linters/test/index.test.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.14.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): support xml,svg
  package-lock.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
Due: eslint, prettier --write --loglevel=warn

feat(prettier-config): support xml,svg (#146)
  package-lock.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.15.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): use valid parser for scss files
  packages/prettier-config/angular.js
Due: eslint

fix(prettier-config): use valid parser for scss files (#148)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.15.1
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): compatibility with angular for no-extraneous-class
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/rules/base.js
  packages/eslint-config-angular/rules/member-ordering.js
  packages/eslint-config-angular/rules/spec-rules.js
Due: eslint

refactor(eslint-config-angular): decomposition by internal settings
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/internal/typescript.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rules/base.js
  packages/eslint-config-angular/rules/import.js
  packages/eslint-config-angular/rules/member-ordering.js
  packages/eslint-config-angular/rules/spec-rules.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): decomposition by internal settings
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/internal/typescript.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rules/base.js
  packages/eslint-config-angular/rules/import.js
  packages/eslint-config-angular/rules/member-ordering.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.16.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(stylelint-config): fix missing dependencies for less
  package-lock.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

fix(stylelint-config): fix missing dependencies for less (#150)
  package-lock.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn
