Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

chore(release): publish v1.25.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): always try to resolve types under `<root>@types` (#166)
  packages/eslint-config-angular/internal/import.js
Due: eslint

chore(release): publish v1.25.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix: Some rules was unused and don't help with development
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/base.js
  packages/eslint-config/internal/test-files.js
  packages/eslint-config/jest.js
Due: eslint

fix: Some rules was unused and don't help with development (#172)
  packages/eslint-config-react/index.js
  packages/eslint-config/internal/base.js
  packages/eslint-config/internal/test-files.js
  packages/eslint-config/jest.js
Due: eslint

chore(release): publish v1.25.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): correctly ensure typescript config for imports
  package-lock.json
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config/package.json
Due: eslint, prettier --write --loglevel=warn

fix(eslint-config-angular): correctly ensure typescript config for imports (#173)
  package-lock.json
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.25.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): use json-stringify parser for prettying package.json files
  packages/prettier-config/angular.js
Due: eslint

feat(prettier-config): use json-stringify parser for prettying package.json files (#169)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.26.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix: Remove default-case rules because we usually use TS and sometimes dont need default
  packages/eslint-config/internal/base.js
Due: eslint

fix: Disabled old rule thar did not allow the use for of
  packages/eslint-config/internal/base.js
Due: eslint

chore(release): publish v1.26.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): overwrite consistent-type-imports
  packages/eslint-config-angular/internal/import.js
Due: eslint

Dissable requery babel config file in project for simplify config
  packages/eslint-config/internal/base.js
Due: eslint

fix(eslint-config-angular): overwrite consistent-type-imports (#175)
  packages/eslint-config-angular/internal/import.js
Due: eslint

chore(release): publish v1.26.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.26.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): use recommendation rules from eslint/typescript
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
Due: eslint

feat(eslint-config-angular): use recommendation rules from eslint/typescript (#170)
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.27.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): support `no-return-assign`
  packages/eslint-config-angular/internal/base.js
Due: eslint

fix(eslint-config-angular): support `no-return-assign` (#177)
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.27.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): support `no-implicit-coercion`
  packages/eslint-config-angular/internal/base.js
Due: eslint

fix(eslint-config-angular): support `no-implicit-coercion` (#178)
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.27.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): support `no-useless-rename`
  packages/eslint-config-angular/internal/base.js
Due: eslint

fix(eslint-config-angular): support `no-useless-rename` (#179)
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.27.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat: upgrade prettier
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat: upgrade prettier (#181)
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.28.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat: separate html and typescript rules
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/html/index.js
  packages/eslint-config-angular/index.js
Due: eslint, prettier --write --loglevel=warn

feat: separate html and typescript rules (#183)
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/html/index.js
  packages/eslint-config-angular/index.js
Due: eslint, prettier --write --loglevel=warn

Path conditions:
  eslint: any of: packages/**/*.{ts,js}
  prettier --write --loglevel=warn: any of: **/*.{md,json,template.html}
