Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

feat(eslint-config-angular): disable prefer-destructuring for *.js and *.ts (#215)
  packages/eslint-config-angular/recommended/base-typescript.js
  packages/eslint-config-angular/recommended/base.js
Due: eslint

chore(release): publish v1.42.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): ignore less functions (#213)
  packages/stylelint-config/less.js
Due: eslint

feat(eslint-config-angular): add decorator position package
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/decorator-position/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/decorator-position/__fixtures__/decorator-position-happy.fixture.ts
  packages/eslint-config-angular/test/decorator-position/__fixtures__/decorator-position-unhappy.fixture.ts
  packages/eslint-config-angular/test/decorator-position/__snapshots__/decorator-position-happy.test.js.snap
  packages/eslint-config-angular/test/decorator-position/__snapshots__/decorator-position-unhappy.test.js.snap
  packages/eslint-config-angular/test/decorator-position/decorator-position-happy.test.js
  packages/eslint-config-angular/test/decorator-position/decorator-position-unhappy.test.js
Due: eslint, prettier --write --loglevel=warn

feat(stylelint-config): ignore less functions (#213) (#216)
  packages/stylelint-config/less.js
Due: eslint

chore(release): publish v1.43.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

ci: remove 10.x, 12.x node versions & add 18.x node version
  .github/workflows/check.yml
Due: none

feat(eslint-config-angular): add decorator position package (#217)
  .github/workflows/check.yml
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/decorator-position/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/decorator-position/__fixtures__/decorator-position-happy.fixture.ts
  packages/eslint-config-angular/test/decorator-position/__fixtures__/decorator-position-unhappy.fixture.ts
  packages/eslint-config-angular/test/decorator-position/__snapshots__/decorator-position-happy.test.js.snap
  packages/eslint-config-angular/test/decorator-position/__snapshots__/decorator-position-unhappy.test.js.snap
  packages/eslint-config-angular/test/decorator-position/decorator-position-happy.test.js
  packages/eslint-config-angular/test/decorator-position/decorator-position-unhappy.test.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.44.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): describe angular-less config
  packages/stylelint-config/README.md
  packages/stylelint-config/angular-less.js
Due: eslint, prettier --write --loglevel=warn

feat(stylelint-config): describe angular-less config (#219)
  packages/stylelint-config/README.md
  packages/stylelint-config/angular-less.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.45.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): fix compat with node 12
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint

fix(prettier-config): fix compat with node 12 (#220)
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint

chore(release): publish v1.45.1
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): allow ignoring by void
  packages/eslint-config-angular/promise/index.js
Due: eslint

test(prettier-config): tests combining promise with void
  packages/eslint-config-angular/test/promise/__fixtures__/promise-happy.fixture.ts
  packages/eslint-config-angular/test/promise/__fixtures__/promise-unhappy.fixture.ts
  packages/eslint-config-angular/test/promise/__snapshots__/promise-happy.test.js.snap
  packages/eslint-config-angular/test/promise/__snapshots__/promise-unhappy.test.js.snap
  packages/eslint-config-angular/test/promise/promise-happy.test.js
  packages/eslint-config-angular/test/promise/promise-unhappy.test.js
Due: eslint

test(prettier-config): tests combining promise with void
  packages/eslint-config-angular/test/promise/__snapshots__/promise-unhappy.test.js.snap
Due: none

feat(eslint-config-angular): allow ignoring by void (#218)
  packages/eslint-config-angular/promise/index.js
  packages/eslint-config-angular/test/promise/__fixtures__/promise-happy.fixture.ts
  packages/eslint-config-angular/test/promise/__fixtures__/promise-unhappy.fixture.ts
  packages/eslint-config-angular/test/promise/__snapshots__/promise-happy.test.js.snap
  packages/eslint-config-angular/test/promise/__snapshots__/promise-unhappy.test.js.snap
  packages/eslint-config-angular/test/promise/promise-happy.test.js
  packages/eslint-config-angular/test/promise/promise-unhappy.test.js
Due: eslint

chore(release): publish v1.46.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

docs(stylelint-config): describes basis of configs
  packages/stylelint-config/README.md
Due: prettier --write --loglevel=warn

docs(stylelint-config): describes basis of configs (#221)
  packages/stylelint-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.46.1
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

fix(stylelint-config): ignore `fade`
  packages/stylelint-config/less.js
Due: eslint

fix(stylelint-config): ignore `fade` (#222)
  packages/stylelint-config/less.js
Due: eslint

chore(release): publish v1.46.2
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): exclude only dasherize files
  packages/eslint-config-angular/recommended/base.js
Due: eslint

fix(eslint-config-angular): exclude only dasherize files (#224)
  packages/eslint-config-angular/recommended/base.js
Due: eslint

chore(release): publish v1.46.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add strict rules as experimental sub-package
  packages/eslint-config-angular/.npmignore
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/experimental/index.js
  packages/eslint-config-angular/function-return-type/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/recommended/base.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): add strict rules as experimental sub-package (#225)
  packages/eslint-config-angular/.npmignore
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/experimental/index.js
  packages/eslint-config-angular/function-return-type/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/recommended/base.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.47.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): add `endOfLine` for angular config
  packages/prettier-config/angular.js
Due: eslint

fix(prettier-config): add `endOfLine` for angular config (#226)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.47.1
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add `sort-type-constituents`
  packages/eslint-config-angular/experimental/index.js
Due: eslint

feat(eslint-config-angular): add `sort-type-constituents` (#227)
  packages/eslint-config-angular/experimental/index.js
Due: eslint

chore(release): publish v1.48.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add `unicorn` plugin
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/unicorn/index.js
Due: eslint, prettier --write --loglevel=warn
