Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

chore(release): publish v1.29.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): fix problem with less parser
  package-lock.json
  package.json
  packages/linters/package.json
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): fix problem with less parser (#185)
  package-lock.json
  package.json
  packages/linters/package.json
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.29.1
  CHANGELOG.md
  lerna.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): dedupe prettier 2.6.2
  package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): dedupe prettier 2.6.2 (#186)
  package-lock.json
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.29.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): expose html, ts configs
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config-angular/ts/base-typescript.js
  packages/eslint-config-angular/ts/base.js
  packages/eslint-config-angular/ts/extraneous-class.js
  packages/eslint-config-angular/ts/import.js
  packages/eslint-config-angular/ts/index.js
  packages/eslint-config-angular/ts/line-statements.js
  packages/eslint-config-angular/ts/member-ordering.js
Due: eslint, prettier --write --loglevel=warn

fix(eslint-config-angular): expose html, ts configs (#184)
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
  packages/eslint-config-angular/ts/base-typescript.js
  packages/eslint-config-angular/ts/base.js
  packages/eslint-config-angular/ts/extraneous-class.js
  packages/eslint-config-angular/ts/import.js
  packages/eslint-config-angular/ts/index.js
  packages/eslint-config-angular/ts/line-statements.js
  packages/eslint-config-angular/ts/member-ordering.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.29.3
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): upgrade stylelint
  package-lock.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): upgrade stylelint (#187)
  package-lock.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.30.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add rxjs plugin
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rxjs/index.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): add rxjs plugin (#188)
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/rxjs/index.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.31.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

docs(eslint-config,eslint-config-angular,eslint-config-react,prettier-config): improve and fix typos
  packages/eslint-config-angular/README.md
  packages/eslint-config-react/README.md
  packages/eslint-config/README.md
  packages/prettier-config/README.md
Due: prettier --write --loglevel=warn

docs(eslint-config,eslint-config-angular,eslint-config-react,prettier-config): improve and fix typos (#190)
  packages/eslint-config-angular/README.md
  packages/eslint-config-react/README.md
  packages/eslint-config/README.md
  packages/prettier-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.31.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): add plugin to sort the keys of a package.json
  package-lock.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint, prettier --write --loglevel=warn

feat(prettier-config): add plugin to sort the keys of a package.json (#189)
  package-lock.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.32.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

fix(prettier-config): don't add scripts field if it's not provided
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint

fix(prettier-config): don't add scripts field if it's not provided (#191)
  packages/prettier-config/plugins/prettier-plugin-sort-package.js
Due: eslint

chore(release): publish v1.32.1
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support `@typescript-eslint/array-type`
  packages/eslint-config-angular/ts/base-typescript.js
Due: eslint

feat(eslint-config-angular): support `@typescript-eslint/array-type` (#192)
  packages/eslint-config-angular/ts/base-typescript.js
Due: eslint

chore(release): publish v1.33.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): use `array-simple` instead of `array`
  packages/eslint-config-angular/ts/base-typescript.js
Due: eslint

fix(eslint-config-angular): use `array-simple` instead of `array` (#193)
  packages/eslint-config-angular/ts/base-typescript.js
Due: eslint

chore(release): publish v1.33.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): added recommended rules of best practices
  packages/eslint-config-angular/rxjs/index.js
Due: eslint

fix(eslint-config-angular): added recommended rules of best practices (#194)
  packages/eslint-config-angular/rxjs/index.js
Due: eslint

chore(release): publish v1.33.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add most useful rules for async-await
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/promise/index.js
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): add most useful rules for async-await (#195)
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/promise/index.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.34.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

docs: improved README.md
  packages/eslint-config-angular/README.md
Due: prettier --write --loglevel=warn

docs: improved README.md (#196)
  packages/eslint-config-angular/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.34.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

Path conditions:
  eslint: any of: packages/**/*.{ts,js}
  prettier --write --loglevel=warn: any of: **/*.{md,json,template.html}
