Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

feat(eslint-config-angular): add `unicorn` plugin (#228)
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/unicorn/index.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.49.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support `dot-notation`
  packages/eslint-config-angular/experimental/index.js
Due: eslint

feat(eslint-config-angular): support `dot-notation` (#229)
  packages/eslint-config-angular/experimental/index.js
Due: eslint

chore(release): publish v1.50.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): remove deprecated properties
  package-lock.json
  package.json
  packages/eslint-config-angular/member-ordering/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/lib/deprecated/member-ordering.js
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: eslint, prettier --write --loglevel=warn

fix(eslint-config-angular): remove deprecated properties (#230)
  package-lock.json
  package.json
  packages/eslint-config-angular/member-ordering/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/lib/deprecated/member-ordering.js
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.50.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

eslint >= 7 as peerDependency
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

eslint >= 7 as peerDependency (#231)
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.50.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add `html-eslint` plugin
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/html-eslint/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): add `html-eslint` plugin (#232)
  package-lock.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/html-eslint/index.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.51.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): add `all` property to properties-order
  packages/stylelint-config/angular.js
  packages/stylelint-config/stylelint.config.js
Due: eslint

feat(stylelint-config): add `all` property to properties-order (#234)
  packages/stylelint-config/angular.js
  packages/stylelint-config/stylelint.config.js
Due: eslint

chore(release): publish v1.52.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore: use correct github account in repo url
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore: remove Tom910 from codeowners
  .github/CODEOWNERS
Due: none

chore: use correct github account in repo url (#235)
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.52.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat: introduce `@tinkoff/typescript-config` package
  .editorconfig
  README.md
  package.json
  packages/typescript-config/.npmrc
  packages/typescript-config/README.md
  packages/typescript-config/package.json
  packages/typescript-config/test/index.ts
  packages/typescript-config/test/tsconfig.json
  packages/typescript-config/tsconfig.base.json
Due: eslint, prettier --write --loglevel=warn

feat: introduce `@tinkoff/typescript-config` package (#236)
  .editorconfig
  README.md
  package.json
  packages/typescript-config/.npmrc
  packages/typescript-config/README.md
  packages/typescript-config/package.json
  packages/typescript-config/test/index.ts
  packages/typescript-config/test/tsconfig.json
  packages/typescript-config/tsconfig.base.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.53.0
  CHANGELOG.md
  lerna.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
Due: prettier --write --loglevel=warn

docs(typescript-config): fix usage example
  packages/typescript-config/README.md
Due: prettier --write --loglevel=warn

docs(typescript-config): fix usage example (#238)
  packages/typescript-config/README.md
Due: prettier --write --loglevel=warn

chore(release): publish v1.53.1
  CHANGELOG.md
  lerna.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
Due: prettier --write --loglevel=warn

chore(eslint-config-angular): bump eslint-plugin-html version
  package-lock.json
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

chore(eslint-config-angular): bump eslint-plugin-html version (#239)
  package-lock.json
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.53.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

chore: update `jest` package to v29
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

chore: update `jest` package to v29 (#242)
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

feat(eslint-config): use `eslint>=7` as peerDependency
  .github/workflows/check.yml
  .github/workflows/release.yml
  .npmrc
  package-lock.json
  package.json
  packages/eslint-config-angular/.npmrc
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/.npmrc
  packages/eslint-config/.npmrc
  packages/eslint-config/package.json
  packages/eslint-plugin/.npmrc
  packages/prettier-config/.npmrc
  packages/stylelint-config/.npmrc
Due: prettier --write --loglevel=warn

feat: Create declaration files on build of ts files
  packages/typescript-config/tsconfig.base.json
Due: prettier --write --loglevel=warn
