Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

chore(release): publish v1.3.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat: remove react-perf plugin
  package-lock.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
Due: eslint, prettier --write --loglevel=warn

Update @typescript-eslint dependencies
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.4.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

feat: update @typescript-eslint dependencies (#120)
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.5.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

chore: sync and dedupe dependencies
  package-lock.json
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(release): publish v1.5.1
  CHANGELOG.md
  lerna.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

fix: rule react/jsx-props-no-spreading disabled
  packages/eslint-config-react/index.js
Due: eslint

chore(release): publish v1.5.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write --loglevel=warn

chore: add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: prettier --write --loglevel=warn

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: remove redundant files
  lerna.json
  package-lock.json
  packages/linters/package.json
  tools/actions/get-unified-version/action.yml
  tools/actions/get-unified-version/getUnifiedVersion.js
  tools/actions/get-unified-version/index.js
  tools/actions/get-unified-version/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.5.3
  CHANGELOG.md
  lerna.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

ci: pin lerna version for easy setup
  .github/workflows/check.yml
  .github/workflows/release.yml
  .npmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

ci: add lerna 4 with compat lock file for npm 7
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

test: refactor before upgrade to @typescript-eslint v5
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/eslint-plugin/tests/member-ordering.fixture.ts
  packages/eslint-plugin/tests/require-return-type.fixture.ts
  tsconfig.json
Due: eslint, prettier --write --loglevel=warn

feat(stylelint-config): expose configs for stylelint
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
  packages/stylelint-config/prettier.js
  packages/stylelint-config/stylelint.config.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.7.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

chore(release): publish v1.7.1
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): expose configs for angular
  packages/stylelint-config/README.md
  packages/stylelint-config/angular.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.8.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat(stylelint-config): expose configs for taiga-ui
  .github/workflows/check.yml
  package-lock.json
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
  packages/stylelint-config/taiga-ui.js
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.10.0
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

docs: improved README.md
  .lintstagedrc.js
  README.md
  package-lock.json
  package.json
Due: prettier --write --loglevel=warn

feat(eslint-plugin): deprecate current rules
  README.md
  package-lock.json
  package.json
  packages/eslint-config-angular/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/lib/deprecated/member-ordering.js
  packages/eslint-plugin/lib/deprecated/require-return-type.js
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/member-ordering.js
  packages/eslint-plugin/lib/require-return-type.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/__snapshots__/member-ordering.test.js.snap
  packages/eslint-plugin/tests/__snapshots__/require-return-type.test.js.snap
  packages/linters/package.json
Due: eslint, prettier --write --loglevel=warn

Path conditions:
  eslint: any of: packages/**/*.{ts,js}
  prettier --write --loglevel=warn: any of: **/*.{md,json,template.html}
