Repository Tinkoff/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --loglevel=warn

.lintstagedrc.json:

{
    "packages/**/*.{ts,js}": ["eslint", "git add"],
    "**/*.{md,json,template.html}": ["prettier --write --loglevel=warn", "git add"]
}

chore(release): publish v1.16.1
  CHANGELOG.md
  lerna.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add default ignore pattern
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/import.js
Due: eslint

feat(eslint-config-angular): add default ignore pattern (#151)
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/import.js
Due: eslint

chore(release): publish v1.17.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): add import rules
  package-lock.json
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/imports/__fixtures__/imports-happy.fixture.ts
  packages/eslint-config-angular/test/imports/__fixtures__/imports-unhappy.fixture.ts
  packages/eslint-config-angular/test/imports/__fixtures__/shared-imports.fixture.ts
  packages/eslint-config-angular/test/imports/__snapshots__/imports-happy.test.js.snap
  packages/eslint-config-angular/test/imports/__snapshots__/imports-unhappy.test.js.snap
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  tsconfig.json
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): add import rules (#152)
  package-lock.json
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/test/imports/__fixtures__/imports-happy.fixture.ts
  packages/eslint-config-angular/test/imports/__fixtures__/imports-unhappy.fixture.ts
  packages/eslint-config-angular/test/imports/__fixtures__/shared-imports.fixture.ts
  packages/eslint-config-angular/test/imports/__snapshots__/imports-happy.test.js.snap
  packages/eslint-config-angular/test/imports/__snapshots__/imports-unhappy.test.js.snap
  packages/eslint-config-angular/test/imports/imports-happy.test.js
  packages/eslint-config-angular/test/imports/imports-unhappy.test.js
  tsconfig.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.18.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

fix(eslint-config-angular): ignore no-param-reassign
  packages/eslint-config-angular/internal/base.js
Due: eslint

fix(eslint-config-angular): ignore no-param-reassign (#153)
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.18.1
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

refactor(eslint-config-angular): reorganize rules group
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/internal/member-ordering.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint

refactor(eslint-config-angular): reorganize rules group (#154)
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/import.js
  packages/eslint-config-angular/internal/member-ordering.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint

chore(release): publish v1.18.2
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support line statements
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/line-statements.js
  packages/eslint-config-angular/test/line-statements/__fixtures__/line-statements-happy.fixture.ts
  packages/eslint-config-angular/test/line-statements/__fixtures__/line-statements-unhappy.fixture.ts
  packages/eslint-config-angular/test/line-statements/__snapshots__/line-statements-happy.test.js.snap
  packages/eslint-config-angular/test/line-statements/__snapshots__/line-statements-unhappy.test.js.snap
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
Due: eslint

feat(prettier-config): support readable formatting for yml files
  packages/prettier-config/angular.js
Due: eslint

feat(prettier-config): support readable formatting for yml files (#156)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.19.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): support readable formatting for md files
  packages/prettier-config/angular.js
Due: eslint

fix(prettier-config): support autoload plugins, support vscode
  packages/prettier-config/angular.js
Due: eslint

fix(prettier-config): support autoload plugins, support vscode (#160)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.19.1
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): support readable formatting for md files (#159)
  packages/prettier-config/angular.js
Due: eslint

chore(release): publish v1.20.0
  CHANGELOG.md
  lerna.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support line statements (#155)
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/base.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/line-statements.js
  packages/eslint-config-angular/test/line-statements/__fixtures__/line-statements-happy.fixture.ts
  packages/eslint-config-angular/test/line-statements/__fixtures__/line-statements-unhappy.fixture.ts
  packages/eslint-config-angular/test/line-statements/__snapshots__/line-statements-happy.test.js.snap
  packages/eslint-config-angular/test/line-statements/__snapshots__/line-statements-unhappy.test.js.snap
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
Due: eslint

chore(release): publish v1.21.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(prettier-config): upgrade to new prettier version
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
Due: eslint, prettier --write --loglevel=warn

feat(prettier-config): upgrade to new prettier version (#161)
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/linters/package.json
  packages/prettier-config/angular.js
  packages/prettier-config/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.22.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/linters/CHANGELOG.md
  packages/linters/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support html files
  package-lock.json
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/html.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

feat(eslint-config-angular): support html files (#162)
  package-lock.json
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/internal/html.js
  packages/eslint-config-angular/package.json
Due: eslint, prettier --write --loglevel=warn

chore(release): publish v1.23.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support member-accessibility
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
Due: eslint

feat(eslint-config-angular): support member-accessibility (#164)
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/base.js
Due: eslint

chore(release): publish v1.24.0
  CHANGELOG.md
  lerna.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write --loglevel=warn

feat(eslint-config-angular): support no-inferrable-types, no-unused-vars
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/line-statements.js
  packages/eslint-config-angular/internal/member-ordering.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint

fix(eslint-config-angular): always try to resolve types under `<root>@types`
  packages/eslint-config-angular/internal/import.js
Due: eslint

feat(eslint-config): add consistent-type-exports rule
  packages/eslint-config/internal/typescript.js
Due: eslint

Revert "feat(eslint-config): add consistent-type-exports rule"
  packages/eslint-config/internal/typescript.js
Due: eslint

feat(eslint-config-angular): support no-inferrable-types, no-unused-vars (#165)
  packages/eslint-config-angular/internal/base-typescript.js
  packages/eslint-config-angular/internal/extraneous-class.js
  packages/eslint-config-angular/internal/line-statements.js
  packages/eslint-config-angular/internal/member-ordering.js
  packages/eslint-config-angular/test/line-statements/line-statements-happy.test.js
  packages/eslint-config-angular/test/line-statements/line-statements-unhappy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-happy.test.js
  packages/eslint-config-angular/test/member-ordering/member-ordering-unhappy.test.js
Due: eslint
